
<style>
    body {
        background: #102927;
    }

    div#container {
        width: 480px;
        height: 400px;
    }

    div#container div {
        border: 1px solid #416bb9;
        height: 73px;
        width: 75px;
        margin: 40px;
        margin-top: 1px;
        margin-bottom: 65px;
        float: left;
        border-radius: 30%;
    }

    h1{
    font-size: 3.75em;
    color: #8b8e8e;
    }
    #result {
    color: rgb(179, 209, 199);
    font-size: 2em;
    font-weight: bolder;
    }

    #notif{
        visibility: hidden
    }

    
</style>

<div align="center">
    <h1> Three In A Row </h1>
    <div id="container">
        <div id="d1"> </div>
        <div id="d2"> </div>
        <div id="d3"> </div>
    
        <div id="d4"> </div>
        <div id="d5"> </div>
        <div id="d6"> </div>
    
    
        <div id="d7" style="margin-bottom: 20px"> </div>
        <div id="d8" style="margin-bottom: 20px"> </div>
        <div id="d9" style="margin-bottom: 20px"> </div>
    </div>

    <div id="notif">
    <div id="result">You Win</div>
    <br />
    <button id="again" style="font-size:1.5em" onclick="board='xxx---ooo';paint()">Play Again</button>
    </div>

</div>



<script src="teenghutti.js"></script>